dtd/nobfin.dtd

<!ELEMENT e ( lg, mg+ ) >
<!ATTLIST e reverse NMTOKEN #IMPLIED >
<!ATTLIST e src CDATA #IMPLIED >

<!ELEMENT l ( #PCDATA ) >
<!ATTLIST l pos ( A | Adv | CC | CS | Interj | N |
                  Num | Phrase | Pr | Pron | Prop | V ) #REQUIRED >
<!ATTLIST l type (Prop) #IMPLIED >

<!ELEMENT lics (lic, ref*, sourcenote*) >
<!ATTLIST lics xml:space (default|preserve) 'preserve'>

<!ELEMENT lic (#PCDATA|a)*>
<!ATTLIST lic xml:lang ( en | nno ) #IMPLIED >

<!ELEMENT ref (#PCDATA|a|i)*>
<!ELEMENT sourcenote (#PCDATA|a|i)*>
<!ELEMENT a (#PCDATA)>

<!ELEMENT lg ( l ) >

<!ELEMENT mg ( tg ) >

<!ELEMENT r (lics?, e+, xhtml:script?) >
<!ATTLIST r xml:lang (nob) #IMPLIED>
<!ATTLIST r id (nobfin) #IMPLIED>

<!ELEMENT t ( #PCDATA ) >
<!ATTLIST t pos ( A | Adv | CC | CS | Interj | N | Num | 
                  Po | Pr | Pron | V | suff ) #IMPLIED >
<!ATTLIST t type ( Prop ) #IMPLIED >
<!ATTLIST t t_type ( Phrase | expl ) #IMPLIED >

<!ELEMENT te ( #PCDATA ) >
<!ATTLIST te type ( grammar ) #IMPLIED >

<!ELEMENT tg ( re? | syng | (t|te) | xg )* >
<!ATTLIST tg comment CDATA #IMPLIED >
<!ATTLIST tg xml:lang ( fin ) #IMPLIED >

<!ELEMENT re (#PCDATA) > <!-- Domain restriction: bot, phys, ... -->
<!ATTLIST re
    xml:lang ( nob | fin | sme | sma | smn | swe | eng | deu | lat) #IMPLIED
>
<!ATTLIST re x ( fad ) #IMPLIED >
<!ATTLIST re comment CDATA #IMPLIED >

<!ELEMENT x ( #PCDATA ) >

<!ELEMENT xg ( x, xt ) >

<!ELEMENT xt ( #PCDATA ) >
